.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2rem;
  width: 100vw;
  height: 100vh;
  background-color: #2e7d32;
  position: relative;
  overflow: hidden;
}

.player-list__container{
  position: fixed;
  top: .25rem;
  left: 0;
  width: calc(100vw - 0.5rem);
  padding: 0 .25rem;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.player-actions{
  position: fixed;
  bottom: 1rem;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
}

.player-actions__buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: flex-end;
}

.player-actions__buttons button{
  max-height: 60px;
}

.player-actions h3{
  display: inline-block;
}

.game-title{
  margin: 0;
}

.game-cards{
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-top: 2rem;
}

.board-sets__container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: top;
  justify-content: space-around;
  gap: 3rem;
}

.player-actions button{

}

.helper--place-to-board__container{
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.helper--place-to-board__container button{
 height: 50px;
  display: flex;
  align-items: center;
}

.helper--place-to-board__container button img{
  width: auto;
  height: 40px;
}

.perform-action{
  margin: 0;
}