.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #2e7d32;
  position: relative;
}

.player-list__container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}