.show-game-info{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  display: flex;
  padding: .5rem;
}

.info-modal__container{
  position: fixed;
  bottom: 4rem;
  right: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  z-index: 999;
  min-width: 175px;
  display: flex;
  flex-direction: column;
  padding: .5rem 1rem;
  justify-content: space-between;
  border-radius: 8px;
}

.info-modal__container p{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}