.chat__icon{
  position: fixed;
  bottom: 1rem;
  right: calc(1rem + 34px + .5rem);
  z-index: 1000;
  display: flex;
  padding: .5rem;
}

.chat__notification-dot{
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  right: -4px;
}

.chat__content{
  position: fixed;
  bottom: 4rem;
  right: 1rem;
  width: 300px;
  max-height: 400px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1000;
}

.chat__messages{
  height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chat__message{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background-color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  width: fit-content;
}

.chat__message-sender{
  color: gray;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  gap: .25rem;
  align-items: center;
}

.chat__message-sender--own{
  flex-direction: row-reverse;
  justify-content: right;
}

.chat__message-sender--other{
  justify-content: left;
  flex-direction: row;
}

.chat__message--own{
  align-self: flex-end;
  background-color: #dcf8c6;
}

.chat__message--other{

}

.chat__message-avatar{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.chat__message-content{
  margin: 0;
  font-size: 14px;
  width: fit-content;
}

.chat__message-content--own{
  text-align: right;
}

.chat__message-content--other{
  text-align: left;
}

.chat__input-form{
  padding: .25rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .5rem;
}

.chat__input-form input{
  flex-grow: 1;
  padding: .25rem .5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "BoldPixels";
}

.chat__input-form input::placeholder{
  font-family: "BoldPixels";
}