.room-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
}

.room-item{
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  max-width: 600px;
  min-width: 600px;
  background-color: #4a2a4a;
  border: 4px solid #000000;
  border-radius: 8px;
  box-shadow: 0 6px 0 0 #000000;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

.room-item:active {
  box-shadow: 0 2px 0 0 #000000;
  transform: translateY(4px);
}

@media (max-width: 660px) {
  .room-item{
    width: calc(100% - 5rem);
    min-width: unset;
  }
}

.room-item p {
  margin: 0;
}

.room-item:hover {
  scale: 1.02;
}