.room-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

.room-item{
  padding: 0.5rem 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  transition: scale 0.2s ease;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}

.room-item p {
  margin: 0;
}

.room-item:hover {
  background-color: #1c1b1b;
  scale: 1.02;
}